<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <div id = "content">
    <head>
        <title><%= title %>></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <main class ="content">

    <% include Template/header.ejs %>

    <!-- Abouts body -->
    <div>About content...</div>

    <% include Template/footer.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
    </div>
    </main>
</html>