<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="Site">
        <main class ="content">

        <% include Template/header.ejs %>

        <!-- data body -->
        <h1>Get Data</h1>
        <ul>
            <% for(var i=0; i<items.length; i++){ %>
                <li><%= items[i].email %></li>
                <li><%= items[i].username %></li>
                <li><%= items[i].password %></li>
            <% } %>
        </ul>
        <% include Template/footer.ejs %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </main>
    </body>
</html>