<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

    <% include Template/header.ejs %>

    <!-- login body -->

    <h1>Login</h1>
    <form method="post" action="/login/submit" >
        <div class="input">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="text" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">submit</button>
    </form>

    <% include Template/footer.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>