<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <main class ="content">

    <% include Template/header.ejs %>

    <!-- Registration body -->
    <h1>registration</h1>
    <form method="post" action="/register/registerUser">
        <div class="input">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="input">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="text" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="input">
            <label for="confirmPassword">Confirm password</label>
            <input type="text" name="confirmPassword" class="form-control" placeholder="confirmPassword">
        </div>
        <button type="submit" class="btn btn-default">submit</button>
    </form>

    <% include Template/footer.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </main>
    </body>
</html>