html {
    height: 100%;
}

img{
  padding-top: 5px;
}

.Site {
  display: flex;
  min-height:100vh;
  flex-direction:column;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
    flex: 2;
}


a {
  color: #00B7FF;
}

.footer {
  position: fixed;
  bottom: 0pt;
  left: 0pt:
  /* Set the fixed height of the footer here */
  height: 50px;
  width:100%;
  background-color: #8c001a;
}

.header{
  background-color: #8c001a
}

.logo{
    padding-left: 15px;
}

.navbar-default .navbar-nav > li > a , li > a{
    color: white;
}

.nav > a {
    padding: 0px;
}


.navbar-default .navbar-nav > li > a {
    color: black;
}

.panel-default{
    border-color:grey;
}
.panel-default > .panel-heading > .panel-title{
    color: black;
}

.col-sm-2{
    margin: 15px;
    padding: 0px;
}
.panelSelect{
    color: #ec971f;
}

.panelSelect > h3{
    color:white;
}

.panel {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0px;
    margin: 15px;
}

.panel:hover, .panel-selected{
    border: 5px solid #79466e;
    box-shadow; 0 0 10px #79466e;
    outline: none;
}

.row{
    margin-left:20%;
    margin-right:20%;
    align-self: center;
}

.submit-button{
    margin-top: 10px;
}

.input{
    margin-top:15px;
}