<!-- bottom info/menu bar -->
<footer class="footer">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/Donate">Donate</a></li>
        </ul>
</footer>
