<!-- Top logo login bar -->
<header class="header">
    <nav class="navbar">
        <div id="header" class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="#"><img src="/images/logo.svg" width="40" height="40"></a>
                <a class="logo" href="/"><img src="/images/logo-text.png" height="40"></a>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-custom">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </ul>
        </div>
    </nav>
</header>
