<!-- Top logo login bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="pull-left" href="#"><img src="/images/logo.svg" width="40" height="40"></a>
            <a class="navbar-brand" href="/">Brizzar</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </ul>
    </div>
</nav>